
.kpi-card{
    background-color: rgb(234, 231, 231);
    border-radius: 1rem;

}

.kpi-card *{
    background:none;
    text-align: center;
}

.kpi-card-title{
    font-weight: 500;
}

.kpi-card-value{
    font-size: 1.2rem;
}