.page-layout{
    background-color: greenyellow;
    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav{
    margin-bottom: auto;
}

footer{
    margin-top: auto;
}